@import '../variables/colors';

.banner {
    padding: 96px 0;
    display: flex;
    justify-content: center;
    background: $colors-banner;

    a, h1, h2, h3, h4, h5, h6 {
        color: #FFF;
    }
}
