.box {
    background: #FFF;
    border: 1px solid $colors-border;
    border-radius: $dimensions-box-border-radius;

    .box__section {
        padding: $dimensions-box-padding;
        border-bottom: 1px solid $colors-border;

        &.box__section--header {
            padding: 15px 20px;
            font-size: 14px;
            font-weight: 600;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    ul.box__section {
        padding: 0; // TODO REMOVE THIS
        list-style: none;

        li {
            padding: $dimensions-box-padding;
            border-bottom: 1px solid $colors-border;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}
