.theme-light .box {
    background: $colors-light-background;
    border: 1px solid $colors-light-border;

    .box__section {
        border-bottom: 1px solid $colors-light-border;

        &.box__section--highlight {
            background: $colors-light-background;
        }
    }
}

.theme-dark .box {
    background: $colors-dark-background;
    border: 1px solid $colors-dark-border;

    .box__section {
        border-bottom: 1px solid $colors-dark-border;
    }
}

.box {
    border-radius: $dimensions-box-border-radius;

    .box__section {
        padding: $dimensions-box-padding;

        &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom: none;
        }

        &.box__section--header {
            padding: 15px 20px;
            font-size: 14px;
            font-weight: 600;
        }
    }

    ul.box__section {
        padding: 0; // TODO REMOVE THIS
        list-style: none;

        li {
            padding: $dimensions-box-padding;
            border-bottom: 1px solid $colors-border;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}
