.theme-light .card {
    background: $colors-light-background;
    border: 1px solid $colors-light-border;
}

.theme-dark .card {
    background: $colors-dark-background;
    border: 1px solid $colors-dark-border;
}

.card {
    padding: 20px;
    border-radius: 5px;

    &.card--blue {
        border-top: 2px solid $colors-blue;
    }

    &.card--green {
        border-top: 2px solid $colors-green;
    }

    &.card--red {
        border-top: 2px solid $colors-red;
    }
}
