// Alignment
.text {
    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }
}

// Spacing
.my-4 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mt {
    &-4 {
        margin-top: 40px;
    }

    &-2 {
        margin-top: 20px;
    }

    &-1 {
        margin-top: 10px;
    }

    &-05 {
        margin-top: 5px;
    }

    &-0 {
        margin-top: 0;
    }
}

.mb {
    &-4 {
        margin-bottom: 40px;
    }

    &-2 {
        margin-bottom: 20px;
    }

    &-1 {
        margin-bottom: 10px;
    }

    &-05 {
        margin-bottom: 5px;
    }

    &-0 {
        margin-bottom: 0;
    }
}

.ml {
    &-4 {
        margin-left: 40px;
    }

    &-2 {
        margin-left: 20px;
    }

    &-1 {
        margin-left: 10px;
    }

    &-05 {
        margin-left: 5px;
    }

    &-0 {
        margin-left: 0;
    }
}

.mr {
    &-4 {
        margin-right: 40px;
    }

    &-2 {
        margin-right: 20px;
    }

    &-1 {
        margin-right: 10px;
    }

    &-05 {
        margin-right: 5px;
    }

    &-0 {
        margin-right: 0;
    }
}

// Colors
.color {
    &-dark {
        color: #000;
    }

    &-green {
        color: green;
    }

    &-red {
        color: #FA5764;
    }
}
