// Alignment
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

// Spacing
.mt-1 {
    margin-top: 10px;
}

.mb-4 {
    margin-bottom: 40px;
}

.ml-2 {
    margin-left: 20px;
}

// Colors
.color {
    &-dark {
        color: #000;
    }

    &-green {
        color: green;
    }

    &-red {
        color: #FA5764;
    }
}
