.input {
    margin-bottom: 20px;

    label {
        margin-bottom: 10px;
        display: block;
    }

    &.input--small {
        max-width: 400px;
    }
}

.theme-light {
    input[type=text], input[type=email], input[type=password], select, textarea {
        background: $colors-light-body;
        border: 1px solid $colors-light-border;
    }
}

.theme-dark {
    input[type=text], input[type=email], input[type=password], select, textarea {
        color: #FFF;
        background: $colors-dark-body;
        border: 1px solid $colors-dark-border;
    }
}

input[type=text], input[type=email], input[type=password], select, textarea, .button {
    font: inherit;
    border-radius: $dimensions-box-border-radius;
}

input[type=text], input[type=email], input[type=password], select, textarea {
    padding: $dimensions-input-padding;
    width: 100%;
    -webkit-appearance: none;

    &:focus {
        outline: 0;
        border-color: $colors-primary;
        box-shadow: 0 0 0 3px rgba($colors-primary, .25);
    }
}

select {
    background: #FFF;
}

textarea {
    resize: vertical;
}

button.button {
    border: none;

    &:hover {
        cursor: pointer;
    }

    &.link {
        padding: 0;
        font-size: 16px;
        color: $colors-primary;
        background: none;
    }
}

.button {
    padding: 10px 20px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #FFF;
    background: $colors-primary;
}
