.theme-light .navigation {
    background: $colors-light-background;
    border-bottom: 1px solid $colors-light-border;

    a {
        &:hover, &.active {
            color: #000;
        }
    }
}

.theme-dark .navigation {
    background: $colors-dark-background;
    border-bottom: 1px solid $colors-dark-border;

    a {
        &:hover, &.active {
            color: #FFF;
        }
    }
}

.navigation {
    display: flex;
    align-items: center;
    height: $dimensions-navigation-height;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    .navigation__menu {
        margin-left: -15px;
        margin-right: -15px;
        display: flex;
        align-items: center;
        list-style: none;

        > li {
            padding-left: 15px;
            padding-right: 15px;

            > a {
                display: flex;
                align-items: center;
                color: $colors-text;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .navigation .hidden {
        display: none;
    }
}

.avatar {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    object-fit: cover;
}
