.navigation {
    display: flex;
    align-items: center;
    height: 70px;
    background: $colors-navigation;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    .navigation__menu {
        margin-left: -10px;
        margin-right: -10px;
        display: flex;
        align-items: center;
        list-style: none;

        > li {
            padding-left: 10px;
            padding-right: 10px;

            > a {
                display: flex;
                align-items: center;
                color: $colors-text;

                &:hover, &.active {
                    color: #FFF;
                }
            }
        }
    }
}

.avatar {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    object-fit: cover;
}
