@import '../variables/colors';

.navigation {
    background: $colors-navigation;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    ul {
        margin: 0 -16px;
        list-style: none;
        display: flex;

        li {
            padding: 28px 16px;

            a {
                color: $colors-text;

                &:hover {
                    color: #FFF;
                }

                i {
                    margin-right: 4px;
                }
            }
        }
    }
}
