.row {
    display: flex;

    &.gutter {
        margin: 0 -24px;

        > .column {
            padding: 0 24px;
        }
    }

    .column {
        flex: 1;

        &.tight {
            flex: none;
        }

        &.align-middle {
            align-self: center;
        }
    }
}
