.row {
    display: flex;

    &.row--gutter {
        margin-left: -20px;
        margin-right: -20px;

        > .row__column {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &.gutter {
        margin-left: -24px;
        margin-right: -24px;

        > .column {
            padding: 0 24px;
        }
    }

    .row__column {
        flex: 1;

        &.row__column--compact {
            flex: none;
        }

        &.row__column--middle {
            align-self: center;
        }
    }

    .column {
        flex: 1;

        &.tight {
            flex: none;
        }

        &.align-middle {
            align-self: center;
        }
    }
}
