.row {
    display: flex;

    &.row--gutter {
        margin-left: -20px;
        margin-right: -20px;

        > .row__column {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .row__column {
        flex: 1;

        &.row__column--compact {
            flex: none;
        }

        &.row__column--middle {
            align-self: center;
        }
    }
}

@media screen and (max-width: 900px) {
    .row.row--responsive {
        flex-direction: column;

        > .row__column {
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}
