.spacing {
    &-top {
        &-large {
            margin-top: 48px;
        }

        &-medium {
            margin-top: 32px;
        }

        &-small {
            margin-top: 16px;
        }
    }

    &-bottom {
        &-large {
            margin-bottom: 48px;
        }

        &-medium {
            margin-bottom: 32px;
        }

        &-small {
            margin-bottom: 16px;
        }
    }
}

.st-3 {
    padding-top: 36px;
}

.sl-1 {
    padding-left: 12px;
}

.mt-3 {
    margin-top: 36px;
}

.mr-05 {
    margin-right: 5px;
}
