* {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: Muli;
    font-weight: 400;
    color: $colors-text;
}

h1, h2 {
    font-weight: 600;
    color: #000;
}

h1 {
    //
}

h2 {
    font-size: 1.25em;
}

a {
    text-decoration: none;
    color: $colors-primary;
}
