* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: Muli;
  color: #758193;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

h3 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #5E9CF2;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.spacing-top-large {
  padding-top: 48px;
}

.spacing-bottom-large {
  padding-bottom: 48px;
}

.spacing-bottom-small {
  padding-bottom: 16px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row.gutter {
  margin: 0 -24px;
}

.row.gutter > .column {
  padding: 0 24px;
}

.row .column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.row .column.tight {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.row .column.align-middle {
  -ms-flex-item-align: center;
      align-self: center;
}

.navigation {
  background: #2F323A;
}

.navigation .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation ul {
  margin: 0 -16px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation ul li {
  padding: 28px 16px;
}

.navigation ul li a {
  color: #FFF;
}

.banner {
  padding: 96px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #25282E;
}

.banner a,
.banner h1,
.banner h2,
.banner h3,
.banner h4,
.banner h5,
.banner h6 {
  color: #FFF;
}

.box {
  background: #FFF;
  border: 1px solid #EBECF0;
  border-radius: 8px;
}

.box .section {
  padding: 32px;
  border-bottom: 1px solid #EBECF0;
}

.box .section:last-child {
  border-bottom: none;
}

.box ul.section {
  padding: 16px 0;
  list-style: none;
}

.box ul.section li {
  padding: 16px 32px;
}

label,
input,
button,
select {
  display: block;
}

label {
  padding-bottom: 16px;
}

input,
select,
button {
  font: inherit;
  border-radius: 4px;
}

input,
select {
  margin-bottom: 32px;
  padding: 12px;
  width: 100%;
  border: 1px solid #EBECF0;
}

input:focus,
select:focus {
  outline: 0;
}

input.tight,
select.tight {
  margin: 0;
}

button {
  padding: 12px 24px;
  background: #5E9CF2;
  color: #FFF;
  border: none;
}

button:hover {
  cursor: pointer;
}

body {
  background: #F4F5F7;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1280px;
}

