$colors-light-background: #F8F9FB;
$colors-dark-background: #202225;

$colors-border: #E4E8EB;
$colors-text: #758193;

$colors-blue: #179BD1;
$colors-green: #7FCD69;
$colors-red: #F77B7C;

$colors-primary: $colors-blue;
