$colors-light-body: #F8F9FB;
$colors-light-border: #E4E8EB;
$colors-light-background: #FFF;

$colors-dark-body: #202225;
$colors-dark-border: #36393F;
$colors-dark-background: #2F3136;

// Deprecated
$colors-border: #E4E8EB;

$colors-text: #758193;

$colors-blue: #4299E1;
$colors-green: #7FCD69;
$colors-red: #F77B7C;

$colors-primary: $colors-blue;
