$dimensions-navigation-height: 70px;
$dimensions-box-border-radius: 5px;
$dimensions-input-padding: 10px;
$dimensions-box-padding: 20px;
$dimensions-wrapper-width: 1200px;
$dimensions-wrapper-narrow-width: 500px;
