* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Nunito;
    background: #F5F7FA;
}

a {
    text-decoration: none;
}

h1 {
    margin-bottom: 48px;
}

.spacing-bottom-large {
    margin-bottom: 48px;
}

.box {
    background: #FFF;
    border: 1px solid #EBEDF0;
    border-radius: 4px;
}

.box .box__section {
    padding: 24px;
    border-bottom: 1px solid #EBEDF0;
}

.box .box__section:last-child {
    border: none;
}

.box table.box__section {
    width: 100%;
}

.box table.box__section td {
    padding-top: 24px;
}

.box table.box__section tr:first-child td {
    padding: 0;
}

label, input {
    display: block;
}

label {
    margin-bottom: 8px;
}

input {
    font: inherit;
}

input[type=text], input[type=email], input[type=password] {
    margin-bottom: 24px;
    padding: 12px;
    width: 100%;
    border: 1px solid #EBEDF0;
    border-radius: 4px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    background: #FFF;
    border-bottom: 1px solid #EBEDF0;
}

.navigation ul {
    list-style: none;
    display: flex;
}

.navigation ul a {
    color: #000;
    margin: 24px 12px;
    display: block;
}

.navigation ul li:first-child a {
    margin-left: 24px;
}

.navigation ul li:last-child a {
    margin-right: 24px;
}

.navigation ul a:hover {
    color: #4980FF;
}

.body {
    margin: 0 auto;
    padding: 48px 0;
    width: 90%;
    max-width: 960px;
}
