@import 'components/reset';
@import 'components/typography';
@import 'components/spacing';
@import 'components/row';
@import 'components/navigation';
@import 'components/banner';
@import 'components/box';
@import 'components/input';

@import 'variables/colors';

body {
    background: $colors-body;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1280px;

    &.narrow {
        max-width: 720px;
    }
}

canvas {
    width: 100%;
}

.wallpaper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
