@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables/colors';
@import 'variables/dimensions';

@import 'components/reset';
@import 'components/typography';
@import 'components/row';
@import 'components/navigation';
@import 'components/wrapper';
@import 'components/card';
@import 'components/box';
@import 'components/input';
@import 'components/date-picker';
@import 'components/dropdown';
@import 'components/helpers';

body {
    &.theme-light {
        background: $colors-light-body;
    }

    &.theme-dark {
        background: $colors-dark-body;
    }
}

canvas {
    width: 100%;
}

progress {
    appearance: none;
    width: 100%;
    max-width: 300px;
    height: 10px;
    vertical-align: 0;

    &::-webkit-progress-bar {
        background: #E2E8F0;
        border-radius: 5px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        overflow: hidden; // To prevent the border-radius from the value from overflowing when its width is below 10px
    }

    &::-webkit-progress-value {
        background: $colors-primary;
        border-radius: 5px;
    }
}

.bg {
    display: flex;

    button.bg__button {
        padding: 10px 20px;
        font: inherit;
        font-size: 14px;
        border: 1px solid red;
        border-left: 0;
        border-right: 0;

        &:focus {
            outline: 0;
        }

        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-left: 1px solid red;
        }

        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-right: 1px solid red;
        }

        &:hover, &.bg__button--active {
            cursor: pointer;
            background: $colors-primary;
            color: #FFF;
        }
    }
}

.theme-light .bg button.bg__button {
    border-color: $colors-light-border;

    &:not(.bg__button--active):not(:hover) {
        background: $colors-light-background;
    }
}

.theme-dark .bg button.bg__button {
    color: #FFF;
    border-color: $colors-dark-border;

    &:not(.bg__button--active):not(:hover) {
        background: $colors-dark-body;
    }
}

.validation_error {
    color: red;
    font-size: 14px;
}

.hint {
    font-size: 14px;
    font-style: italic;
}

.button-dropdown {
    border-radius: $dimensions-box-border-radius;

    .button-dropdown__section {
        &:first-child {
            border-top-left-radius: $dimensions-box-border-radius;
            border-bottom-left-radius: $dimensions-box-border-radius;
        }

        &:last-child {
            border-top-right-radius: $dimensions-box-border-radius;
            border-bottom-right-radius: $dimensions-box-border-radius;
        }

        &:hover {
            background: rgba(0, 0, 0, .1);
        }

        a, button {
            display: block;
            padding: 5px 10px;
            color: #FFF;
            font-size: 14px;
            font-weight: 600;
        }

        button {
            height: 100%;
            background: none;
            border: none;

            &:hover {
                cursor: pointer;
            }

            &:focus {
                outline: 0;
            }
        }
    }
}
