@import 'variables/colors';
@import 'variables/dimensions';

@import 'components/reset';
@import 'components/typography';
@import 'components/row';
@import 'components/navigation';
@import 'components/wrapper';
@import 'components/card';
@import 'components/box';
@import 'components/input';
@import 'components/date-picker';
@import 'components/dropdown';
@import 'components/helpers';

body {
    &.theme-light {
        background: $colors-light-body;
    }

    &.theme-dark {
        background: $colors-dark-body;
    }
}

canvas {
    width: 100%;
}
