@import 'components/reset';
@import 'components/typography';
@import 'components/spacing';
@import 'components/row';
@import 'components/navigation';
@import 'components/banner';
@import 'components/box';
@import 'components/input';

@import 'variables/colors';

body {
    background: $colors-body;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1280px;
}
